@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  font-size: 1.2rem;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  padding: 20px;
  min-height: 100vh;
}
#articles-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}